@charset "UTF-8";

body{
	background-color : #E6D9CF !important; 
	
}

.game_wrap{
	width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.gamereal{
	text-align: center;
}

.sticky-wrap{
	top: 0;
    height: 100%;
}

#canvas{
     background-color: #203624;
}

.ppro{ /*게임 참여자 공통 프로필 스타일*/
	width :80%;
	height: 20%;
	margin: 0 auto;
}

.ppro img{ /*라켓 이미지*/
	width: 80px;
	height: 80px;	
	border : 1px #203624 solid;
}


.plyaer1profile{ /*playe1 프로필 */
	display: flex;
	justify-content: flex-start;
}


.plyaer2sprofile{/*playe2 프로필 */
	display: flex;
	justify-content: flex-end;
}

.pinfo{
	width: 25%;
	background-color: white;
	border: none;
	border-radius: 20px;
	padding: 10px 5px;
	margin: 5px 0px;
	display: flex;
}


.prm{ /*라켓 이*/
	font-size: 21px;
	font-weight: 500;
}

.username{/*유저 이름*/
	font-size: 36px;
	font-weight: 800;
}

/* --------------------------------------------------- 모달 상자 */

/* --------------------------------------------------- 모달 배경 설정 */
.modal_wrap{
   background-color: rgba(160,160,160,50%);   
   position: fixed;   z-index: 999;                  
   top: 0;       left: 0;         
   width: 100%;    height: 100%;   
   display: flex;   justify-content: center;    align-items: center;
   display: none;
}

.modal_box{
	font-family: 'TheJamsil5Bold'; 
	background-color: white;
	width: 30%; 	padding: 3%;
	border: 3px solid #203624;	border-radius: 15px;
}
.modal_title{ font-size: 35px; font-weight: 500; margin-bottom: 5%; } 
.modal_content{ font-size: 21px;  }
.gTitle{ width: 82%; }
.modal_btns{
	display: flex;   justify-content: space-between;	margin-top: 3%;
}
.modal_btns button{
	color: white;		width: 48%;			height: 45px;
	margin-top: 3%; 	border: none;
	background-color: #E6D9CF;	border-radius: 15px;
}

/*메인 이동 버튼*/
.gomain{
   background-color: #648977;
   border: none;
   border-radius: 5px;
   padding: 5px 5px;
   margin : 10px 10px;
   color : white;
   font-size : 12px;
   text-align: left;
}

